@import url("https://fonts.googleapis.com/css2?family=segoe UI:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=papyrus:wght@200;300;400;500;600;700;800&display=swap");

body{
    background-color: black;
    font-family: 'papyrus', 'segoe UI';
}


.hero {
    width: 100%;
    height: 100vh;
    background-image: url('face.jpg');
    background-size: cover;
    display: flex;
    justify-content: space-around;
}

.menu{
    font-size: 30px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-grow: 1;
 
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: grey;
}
.lolo{
    position: absolute;
    top: 0;
    left:0; 
    height: 70px;
    width: 70px;
     display  :  flex; 
}
h2{
    color: white;
}
.bar{
    height: 100%;
    width: 100%;
}
.banner-item{
    height: 100%;
    width: 100%;

}
.banner1{
    position: absolute;
    left: 800px;
}
.banner2{
    position: absolute;
    top: 1200px;
    left: 180px;
}
.banner3{
    position: absolute;
    top: 1550px;
    left: 800px;
}
.banner4{
    position: absolute;
    top: 1900px;
    left: 180px;
}
.banner5{
    position: absolute;
    top: 2200px;
    left: 800px;
}
.banner6{
    position: absolute;
    top: 2550px;
    left: 180px;
}
.banner7{
    position: absolute;
    top: 2900px;
    left: 800px;
}
.banner8{
    position: absolute;
    top: 3250px;
    left: 180px;
}
.banner-text1{
    position:absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 40px;
    top: 950px;
}
.banner-text2{
    position:absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 40px;
    top: 1300px;
}
.banner-text3{
    position:absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 40px;
    top: 1700px;
}
.banner-text4{
    position:absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 50px;
    top: 2000px;
}
.banner-text5{
    position:absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 50px;
    top: 2300px;
}
.banner-text6{
    position:absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 50px;
    top: 2700px;
}
.banner-text7{
    position:absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 10px;
    top: 3000px;
}
.banner-text8{
    position:absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 50px;
    top: 3400px;
}
.roll{
    color: white;
    font-size: 1.5em;
    position: relative;
    display: flex;
    justify-content: center;
}
